# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
/demo/Pods/SAVideoPlayer/*
/demo/Pods/SAWebPlayer/*
/demo/Pods/FLAnimatedImage/*
/demo/Pods/Headers/Public/SAWebPlayer/*
/demo/Pods/Headers/Private/SAWebPlayer/*
/demo/Pods/Headers/Public/SAVideoPlayer/*
/demo/Pods/Headers/Public/FLAnimatedImage/*
/demo/Pods/Headers/Private/FLAniamtedImage/*
.SuperAwesome.podspec.swp
/SuperAwesomeMoPub/Pods/SAVideoPlayer/*
/SuperAwesomeMoPub/Pods/SAWebPlayer/*
/SuperAwesomeMoPub/Pods/FLAnimatedImage/*
/SuperAwesomeMoPub/Pods/Headers/Public/SAWebPlayer/*
/SuperAwesomeMoPub/Pods/Headers/Private/SAWebPlayer/*
/SuperAwesomeMoPub/Pods/Headers/Public/SAVideoPlayer/*
/SuperAwesomeMoPub/Pods/Headers/Public/FLAnimatedImage/*
/SuperAwesomeMoPub/Pods/Headers/Private/FLAniamtedImage/*
/demo/Pods/Headers/Private/SAVideoPlayer/*
/SuperAwesome/Frameworks/*
/SuperAwesomeMoPub/Pods/*
